{% extends 'base.html' %}
{% block content %}
<div id="staticpage">
<h2>Your rights</h2>
<p>You retain full copyright over your work. You're just giving us a right to use it. If you file for copyright protection, you can still exercise your right to sell or distribute anything you add to this site.</p>
<h2>Things not to do</h2>
<p>Please don't post anything libelous or overtly obscene. We will moderate this site, and we'd really prefer to not get sued. College kids aren't exactly the kind of people that can handle the most litigious people in the world.</p>
<p>Keep in mind that you're sharing stories here, not personal attacks. If we determine a story is written solely to hurt a person or group of people, we will take it down. Hate speech won't be tolerated.</p>
<h2>Some advice</h2>
<p>Write your stories on your PC, then save them with a timestamp. Or print them off and date them. If you later decide that you would like to assert your copyrights by becoming un-anonymous, you need proof you own the work.</p>
<p>For true anonymity, connect to StoriTell using <a href="http://www.torproject.org/" target="_blank">Tor</a> or some other proxy. That helps ensure people between you and us can't track where your story is coming from.</p>

<h2>Legalese</h2>
<p>Upon submitting a story to this site, the owners of StoriTell.com and Author agree as follows:
</p>
<ul>
<li>When you submit a story to this site, you grant StoriTell LLC a permanent, non-exclusive, transferrable, sub-licensable, royalty-free, worldwide license to that story, allowing StoriTell LLC to use and modify that story in any media, traditional, online or otherwise.</li>

<li>StoriTell LLC is the owner of all other materials and Intellectual Property on the site, except for the stories submitted by users and licensed to StoriTell LLC.</li>

<li>By posting a story, you represent that the story is your original work and that it does not infringe on any other intellectual property rights (such as copyright, trade secrets or contractual rights). Additionally, you guarantee that the story does not contain material that would be libelous, harassing, obscene or a violation of any other rights, laws or regulations.</li>

</ul>
</div>
{% endblock %}